* {
    box-sizing: border-box;
}
/*styles for admin book details page*/
/*styles for 1920px 1080px web page*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*style for right div*/
.divRight{
    float: left;
    display: block;
    width: 50%;
    padding: 20px;

}
.searchInput{
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
    display: block;
}
#txtSearchBook{
    width: 40%;
    height: 24px;
    border-radius: 10px;
    border: 1px solid #707070;
    padding: 5px 10px 5px ;
    
}
#tblTopic{
    color:#adadad;
    font-size: 14px;
}
#tblTopic #tdBookName{
    width: 20%;
}
#tblTopic #tdAuthor{
    width: 10%;
}
#tblTopic #tdBookCatagery{
    width: 10%;
}
#tblTopic #tdQuentity{
    width: 10%;
}
hr{
    border: 1px solid #7070703a;
}
/*style for tblSearchBook*/
/*
#tblSearchBook{
    background-color: rgba(236, 236, 236, 0.5);
}
#tblSearchBook td{
    height: 30px;
    padding-left: 5px;
    border-right: 1px solid #7070703d;
}
#tblSearchBook{
    color:#0047C1;
    font-size: 14px;
}
#tblSearchBook #tdBookName{
    width: 20%;
}
#tblSearchBook #tdAuthor{
    width: 10%;
}
#tblSearchBook #tdBookCatagery{
    width: 10%;
}
#tblSearchBook #tdQuentity{
    width: 10%;
}
*/
.tblBookDetails{
    background-color: rgba(236, 236, 236, 0.5);
    width: 100%;
    border-collapse: collapse;
}
.tblBookDetails td{
    height: 30px;
    padding-left: 5px;
    border-right: 1px solid #7070703d;
}
.tblBookDetails{
    color:#0047C1;
    font-size: 14px;
}
.tblBookDetails #tdBookName{
    width: 20%;
}
.tblBookDetails #tdAuthor{
    width: 10%;
}
.tblBookDetails #tdBookCatagery{
    width: 10%;
}
.tblBookDetails #tdQuentity{
    width: 10%;
}



.max_height{
    max-height:600px;
    overflow-y: scroll;
}
/*style for left div*/
.divLeft{
    float: left;
    border-right: 1px solid rgb(139, 139, 139, 0.3);
    display: block;
    width: 50%;
    padding: 20px;
    margin-bottom: 30px;
}
#topic{
    margin-top: 20px;
    display: block;
    font-size: 20px;
}
.addBooks{
    display:block;
    background-color: #ECECEC;
    padding: 0px 50px 20px 50px;
    border-radius: 15px;
    float: left;
    margin-top: 0px;
}
.addBooks input{
    margin-top: 10px;
    width: 100%;
    float: left;
    padding: 2px 10px 2px 10px;
    font-size: 14px;
    color: #707070;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    
}
.addBooks button{
    margin-top: 10px;
    width: 50%;
    border-radius: 15px;
    height: 30px;
    border: 0px;
    background-color: #2863B1;
    color: white;
    font-size: 14px;
    margin-left: 25%;
}


.viewBooks{
    display:block;
    background-color: #ECECEC;
    padding: 0px 50px 20px 50px;
    border-radius: 15px;
    float: left;
    margin-top: 50px;
}
.viewBooks input{
    margin-top: 10px;
    width: 100%;
    float: left;
    padding: 2px 10px 2px 10px;
    font-size: 14px;
    color: #707070;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    
}
.viewBooks button{
    margin-top: 10px;
    width: 50%;
    border-radius: 15px;
    height: 30px;
    border: 0px;
    background-color: #FF001A;
    color: white;
    font-size: 14px;
    margin-left: 25%;
}

/* style for screen wodth grather than 910px web page */
@media screen and (max-width: 910px){
    .divRight{
        width: 100%;
    }
    .divLeft{
        width: 100%;
    }
    #divBookDetails #txtSearchBook{
        width: 50%;
    }
}

/* style for screen wodth grather than 720px web page */
@media screen and (max-width: 720px){

}

/* style for screen wodth grather than 680px web page */
@media screen and (max-width: 680px){

}